<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/javascript.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/css/select2.min.css" rel="stylesheet" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/js/select2.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            {#                                                          #}
            {#  integrate the statistics controller at top of the page  #}
            {#                                                          #}
            <div class="row">
                <div class="col-sm-12">{{ render(controller('DragonlandsMovieBundle:Stats:index')) }}</div>
            </div>
            {#                                                          #}
            {#  show a copyright notice with a backlink to the homepage #}
            {#                                                          #}
            <div class="row">
                <div class="col-sm-12"><div class="bg-info"><a href="/">MovieDB</a> (C)2015 Mario J. Gaida</div></div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    {% block body %}{% endblock %}
                    {% block javascripts %}{% endblock %}

                    <script>
                        $(document).ready(function(){
                            $('[data-toggle="tooltip"]').tooltip(); 
                        });
                    </script>
                </div>
        </div>
    </body>
</html>
