<div class="bg-primary well-sm">
Statistics - <a class="btn btn-info btn-xs" href="/">Movies: {{ movies_count }}</a> <a class="btn btn-info btn-xs" href="/showTags">Tags: {{ tags_count }}</a> Users: {{ users_count }}
</div>